body {
  font-family: 'Segoe UI', sans-serif;
}
body {
  overflow-x: hidden;
}

#wrapper {
  display: flex;
  width: 100%;
}

#sidebar-wrapper {
  width: 220px;
  min-height: 100vh;
}

#page-content-wrapper {
  flex: 1;
}
